.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  height: 50vh;
  width: 50vw;
}
.row {
  display: flex;
}
.col {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  /* background-color: grey; */
}
